<div class="footer w-100 bg-dark text-white mt-4 py-4 rounded-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="">
                    <div class="">
                        <a class="logo" href="#">
                            <img src="../../assets/LOG DEVIA sin na.png" alt="" class="w-50">
                        </a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                    <ul class="list-group list-group-horizontal border-light w-100">
                        <li class="list-group-item w-100 text-center"><a target="_blank" href="https://www.facebook.com/mydeviard/" class="text-primary"><fa-icon [icon]="facebook"></fa-icon></a></li>
                        <li class="list-group-item w-100 text-center"><a target="_blank" href="https://twitter.com/mydeviard" class="text-info"><fa-icon [icon]="twitter"></fa-icon></a></li>
                        <li class="list-group-item w-100 text-center"><a target="_blank" href="https://www.instagram.com/mydeviard/" class="text-pink"><fa-icon [icon]="instagram"></fa-icon></a></li>
                        <li class="list-group-item w-100 text-center"><a target="_blank" href="https://www.youtube.com/channel/UCb_JZZVD9T1fkO-FHgJ3sLA" class="text-danger"><fa-icon [icon]="youtube"></fa-icon></a></li>
                        <li class="list-group-item w-100 text-center"><a target="_blank" href="https://wa.me/18297805999" class="text-success"><fa-icon [icon]="whatsapp"></fa-icon></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <h3>Stay Connected</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                <form>
                    <div class="form-group mb-3">
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Correo Electrónico" required>
                    </div>
                    <button class="btn btn-info text-white font-weight-bolder">Suscribirse</button>
                </form>
            </div>
            <div class="col-md-3">
                <h3>My Account</h3>
                <ul class="list-links">
                    <li class="text-decoration-none"><a href="#">My Account</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Compare</a></li>
                    <li><a href="#">Checkout</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Customer Service</h3>
                <ul class="list-links">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Shiping & Return</a></li>
                    <li><a href="#">Shiping Guide</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row footer bg-info pt-2 w-100">
    <div class="text-center">
        <p class="text-light"> Copyright &copy; {{copyYear}} Todos los Derechos Reservados | <strong>Cenllabo Comunicaciones SRL</strong> by <a href="https://2koders.com" class="text-decoration-none text-dark font-weight-bolder" target="_blank">2koders</a></p>
    </div>
</div>