<div class="container center mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="mx-auto my-auto text-center shadow bg-white card border-light h-100 rounded-0">
        <div class="card-body">
          <img src="../../assets/LOG-DEVIA-sin-na.png" class="mx-auto w-50" alt="" >
          <p class="mb-3 mx-auto">¡La nueva forma de vender protectores de pantalla!</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card border-light bg-light p-2 shadow rounded-0">
        <div class="card-body">
          <app-formregister></app-formregister>
        </div>
      </div>
    </div>
  </div>
</div>
