<div class="bg-info text-center pt-3 pb-2">
    <h1 class="text-white font-weight-bold mx-auto h4 capital text-uppercase">¡La mejor opción para el crecimiento de tu negocio!</h1>
  </div>
<div id="carouselExampleCaptions" class="carousel slide shadow" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#client-side" data-slide-to="0" class="active"></li>
    <li data-target="#client-side" data-slide-to="1"></li>
    <li data-target="#client-side" data-slide-to="2"></li>
    <li data-target="#client-side" data-slide-to="3"></li>
</ol>
<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="../../assets/sl-1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
        <img src="../../assets/sl-2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
        <img src="../../assets/sl-3.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
        <img src="../../assets/sl-4.png" class="d-block w-100" alt="...">
    </div>
</div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>