<div class="container pt-2 rounded-bottom rounded-lg bg-white">
  <div class="row text-center my-4">
    <p class="h1 text-uppercase text-dark font-weight-bold">Ventajas de negocio</p>
    <p class="h4">"No pierdas más ventas, atiende a todos tus clientes"</p>
  </div>
  <div class="row mx-2">
    <div class="col-md-4 mb-3">
      <div class="card border-light bg-primary text-light">
        <div class="card-body">
          <p class="h4 card-title"><fa-icon [icon]="faStar" size="xs"></fa-icon>  Inversión</p>
          <ul>
            <li class="card-text">Bajo riesgo de inversión en el producto​</li>
            <li class="card-text">Retorno rápido de la inversión</li>
            <li class="card-text">Recuperación total de la inversión</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card border-light bg-primary text-light">
        <div class="card-body">
          <p class="h4 card-title"><fa-icon [icon]="faStar" size="xs"></fa-icon>  Stock</p>
          <ul>
            <li class="card-text">Eliminación de stock en tienda</li>
            <li class="card-text">Liberación de espacio en tienda</li>
            <li class="card-text">Eliminación gestión de tiempo y control de stock</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card border-light bg-primary text-light">
        <div class="card-body">
          <p class="h4 card-title"><fa-icon [icon]="faStar" size="xs"></fa-icon>  Inventario</p>
          <ul>
            <li class="card-text">Eliminación global de referencias</li>
            <li class="card-text">Implantación de una única referencia universal</li>
            <li class="card-text">Eliminación gestión tiempo y control de inventario</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-2">
    <div class="col-md-4 mb-3">
      <div class="card border-light bg-primary text-light">
        <div class="card-body">
          <p class="h4 card-title"><fa-icon [icon]="faStar" size="xs"></fa-icon>  Compras</p>
          <ul>
            <li class="card-text">Eliminación gestión tiempo de compras</li>
            <li class="card-text">Eliminación gestión control de compras</li>
            <li class="card-text">Implantación de un único proveedor</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card border-light bg-primary text-light">
        <div class="card-body">
          <p class="h4 card-title"><fa-icon [icon]="faStar" size="xs"></fa-icon>  Ajuste oferta y demanda​</p>
          <ul>
            <li class="card-text">Atención de todos los pedidos de los clientes</li>
            <li class="card-text">Eliminación ventas perdidas</li>
            <li class="card-text">Eliminación insatisfacción de los clientes</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card border-light bg-primary text-light">
        <div class="card-body">
          <p class="h4 card-title"><fa-icon [icon]="faStar" size="xs"></fa-icon>  Fidelización Clientes</p>
          <ul>
            <li class="card-text">Atención rápida al cliente</li>
            <li class="card-text">Atención de todos los clientes</li>
            <li class="card-text">Garantia de calidad</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
