<div class="container center mt-4">
  <div class="card shadow-lg pb-5 pt-5">
    <div class="row m px-2">
      <div class="mx-auto col-md-6 text-center">
        <img src="../../assets/LOG DEVIA sin na.png" class="mx-auto img" alt="" >
        <p class="mb-3 mx-auto">¡La nueva forma de vender protectores de pantalla!</p>
      </div>
      <span class="ln"></span>
      <div class="pt-2 px-2 col-md-4 mx-auto mt-6 card h-100 rounded my-auto login">
        <div class="card-body">
          <div class="card-title mb-3">
            <h2 class="font-weight-bold">Inicio de sesión</h2>
          </div>
          <app-form-login></app-form-login>
        </div>
      </div>
    </div>
  </div>
</div>