.shadow{
    box-shadow: 0 4px 4px -2px rgba(26, 26, 26, 0.25);
}

.ln{    
    position: absolute;
    border-left: 1px solid rgb(148, 148, 148);
    height: 90%;
    left: 58%;
    top: 5%;
    margin: 0;
    width: 0;
}

.m{
    margin-right: 0.2vmin;
}

.img{
    width: 20vw;
}

@media (max-width: 768px) {
    .ln{
        display: none;
    }

    .login{
        width: 75vw;
    }

    .m{        
        margin: 0;
    }

    .card{
        padding-top: 0 !important;
    }

    .img{
        width: 40vw;
    }
}