<div class="container pt-2 rounded shadow bg-white pb-4 mt-4">
    <div class="row text-center my-4">
      <p class="h1 text-uppercase text-dark font-weight-bold">Empresas que han confiado en nosotros</p>
      <p class="h4">"No pierdas más ventas, atiende a todos tus clientes"</p>
    </div>
    <div class="row mx-2">
        <div id="client-side" class="carousel slide carousel-multi-item" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#client-side" data-slide-to="0" class="active"></li>
                <li data-target="#client-side" data-slide-to="1"></li>
                <li data-target="#client-side" data-slide-to="2"></li>
                <li data-target="#client-side" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item px-6 active">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="rounded py-4 text-white text-center my-4">
                            <img class="w-75" src="../../../assets/logos-clientes/logos-dark-unlock-express.png" alt="logo-cliente">
                            <div class="text-center text-dark">
                                <p class="font-weight-bold h5 text-info">Unlok Express</p>
                                <p class="h6">Bonao, Monseñor Nouel</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="rounded py-4 text-white text-center my-4">
                            <img class="w-75" src="../../assets/logos-clientes/logo-dark-collatech.png" alt="logo-cliente">
                            <div class="text-center text-dark">
                                <p class="font-weight-bold h5 text-info">Collatech</p>
                                <p class="h6">Tenares, Samaná</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="rounded py-4 text-white text-center my-4">
                            <img class="w-75" src="../../assets/logos-clientes/logo-dark-el-arabe.png" alt="logo-cliente">
                            <div class="text-center text-dark">
                                <p class="font-weight-bold h5 text-info">El Arabe Smart Zone</p>
                                <p class="h6">Tenares, Samaná</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="rounded py-4 text-white text-center my-4">
                            <img class="w-75" src="../../assets/logos-clientes/logo-dark-ernesto-iphone-shop.png" alt="logo-cliente">
                            <div class="text-center text-dark">
                                <p class="font-weight-bold h5 text-info">Ernesto iPhone Shop</p>
                                <p class="h6">Tenares, Samaná</p>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="carousel-item px-6">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="rounded py-4 text-white text-center my-4">
                                <img class="w-75" src="../../assets/logos-clientes/logo-dark-abreu.png" alt="logo-cliente">
                                <div class="text-center text-dark">
                                    <p class="font-weight-bold h5 text-info">Abreu Comunicaciones</p>
                                    <p class="h6">Tenares, Samaná</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="rounded py-4 text-white text-center my-4">
                                <img class="w-75" src="../../assets/logos-clientes/logo-dark-abreu.png" alt="logo-cliente">
                                <div class="text-center text-dark">
                                    <p class="font-weight-bold h5 text-info">Abreu Comunicaciones</p>
                                    <p class="h6">Tenares, Samaná</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="rounded py-4 text-white text-center my-4">
                                <img class="w-75" src="../../assets/logos-clientes/logo-dark-abreu.png" alt="logo-cliente">
                                <div class="text-center text-dark">
                                    <p class="font-weight-bold h5 text-info">Abreu Comunicaciones</p>
                                    <p class="h6">Tenares, Samaná</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="rounded py-4 text-white text-center my-4">
                                <img class="w-75" src="../../assets/logos-clientes/logo-dark-abreu.png" alt="logo-cliente">
                                <div class="text-center text-dark">
                                    <p class="font-weight-bold h5 text-info">Abreu Comunicaciones</p>
                                    <p class="h6">Tenares, Samaná</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item px-6">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="rounded py-4 text-white text-center my-4">
                            <img class="w-75" src="../../assets/logos-clientes/logo-dark-abreu.png" alt="logo-cliente">
                            <div class="text-center text-dark">
                                <p class="font-weight-bold h5 text-info">Abreu Comunicaciones</p>
                                <p class="h6">Tenares, Samaná</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="rounded py-4 text-white text-center my-4">
                            <img class="w-75" src="../../assets/logos-clientes/logo-dark-abreu.png" alt="logo-cliente">
                            <div class="text-center text-dark">
                                <p class="font-weight-bold h5 text-info">Abreu Comunicaciones</p>
                                <p class="h6">Tenares, Samaná</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="rounded py-4 text-white text-center my-4">
                            <img class="w-75" src="../../assets/logos-clientes/logo-dark-abreu.png" alt="logo-cliente">
                            <div class="text-center text-dark">
                                <p class="font-weight-bold h5 text-info">Abreu Comunicaciones</p>
                                <p class="h6">Tenares, Samaná</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="rounded py-4 text-white text-center my-4">
                            <img class="w-75" src="../../assets/logos-clientes/logo-dark-abreu.png" alt="logo-cliente">
                            <div class="text-center text-dark">
                                <p class="font-weight-bold h5 text-info">Abreu Comunicaciones</p>
                                <p class="h6">Tenares, Samaná</p>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="carousel-item px-6">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="rounded py-4 text-white text-center my-4">
                            <img class="w-75" src="../../assets/logos-clientes/logo-dark-abreu.png" alt="logo-cliente">
                            <div class="text-center text-dark">
                                <p class="font-weight-bold h5 text-info">Abreu Comunicaciones</p>
                                <p class="h6">Tenares, Samaná</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="rounded py-4 text-white text-center my-4">
                            <img class="w-75" src="../../assets/logos-clientes/logo-dark-abreu.png" alt="logo-cliente">
                            <div class="text-center text-dark">
                                <p class="font-weight-bold h5 text-info">Abreu Comunicaciones</p>
                                <p class="h6">Tenares, Samaná</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="rounded py-4 text-white text-center my-4">
                            <img class="w-75" src="../../assets/logos-clientes/logo-dark-abreu.png" alt="logo-cliente">
                            <div class="text-center text-dark">
                                <p class="font-weight-bold h5 text-info">Abreu Comunicaciones</p>
                                <p class="h6">Tenares, Samaná</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="rounded py-4 text-white text-center my-4">
                            <img class="w-75" src="../../assets/logos-clientes/logo-dark-abreu.png" alt="logo-cliente">
                            <div class="text-center text-dark">
                                <p class="font-weight-bold h5 text-info">Abreu Comunicaciones</p>
                                <p class="h6">Tenares, Samaná</p>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="carousel-item px-6">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="rounded py-4 text-white text-center my-4">
                            <img class="w-75" src="../../assets/logos-clientes/logo-dark-abreu.png" alt="logo-cliente">
                            <div class="text-center text-dark">
                                <p class="font-weight-bold h5 text-info">Abreu Comunicaciones</p>
                                <p class="h6">Tenares, Samaná</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="rounded py-4 text-white text-center my-4">
                            <img class="w-75" src="../../assets/logos-clientes/logo-dark-abreu.png" alt="logo-cliente">
                            <div class="text-center text-dark">
                                <p class="font-weight-bold h5 text-info">Abreu Comunicaciones</p>
                                <p class="h6">Tenares, Samaná</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="rounded py-4 text-white text-center my-4">
                            <img class="w-75" src="../../assets/logos-clientes/logo-dark-abreu.png" alt="logo-cliente">
                            <div class="text-center text-dark">
                                <p class="font-weight-bold h5 text-info">Abreu Comunicaciones</p>
                                <p class="h6">Tenares, Samaná</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="rounded py-4 text-white text-center my-4">
                            <img class="w-75" src="../../assets/logos-clientes/logo-dark-abreu.png" alt="logo-cliente">
                            <div class="text-center text-dark">
                                <p class="font-weight-bold h5 text-info">Abreu Comunicaciones</p>
                                <p class="h6">Tenares, Samaná</p>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#client-side" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#client-side" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
  </div>  