<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 h-100">
      <div class="row">
        <div class="h1 font-weight-bold">Contacto</div>
      </div>
      <div class="row">
        <div class="card m-2">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card m-2">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card m-2">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="h1 font-weight-bold">Estamos conectados</div>
      </div>
    </div>
    <div class="col-md-6 h-100">
      
    </div>
  </div>  
</div>