<div class="row justify-content-center">
    <div class="col-md-3 my-2">
        <p class="text-white font-weight-bold h5">Reciba nuestras novedades</p>
    </div>
    <div class="col-md-4">
        <form class="d-flex row justify-content-center">
          <div class="col-md-8 my-1">
            <input class="form-control border-light" type="email" placeholder="Correo Electrónico"
                aria-label="suscribirse">
          </div>
          <div class="col-md-4 my-1">
            <button class="btn btn-dark text-info font-weight-bolder" type="submit">Suscribirse</button>
          </div>                    
        </form>
    </div>
</div>