<nav class="navbar navbar-expand-lg navbar-dark bg-dark main-navigation justify-content-center shadow">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../assets/devia-icon.png" alt="Logo" width="60">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-info" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info" routerLink="/maquina" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Maquina</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info" routerLink="/guia-uso" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Guia de Uso</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info" routerLink="/contactos" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contactos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info" routerLink="/tienda" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Tienda</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-info" routerLink="/preg-frec">404 test</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link text-dark " href="tel:8092969060">
            <div class="rounded bg-info">
              <p>Tel:(829)000-000</p>
            </div>
          </a>
        </li> -->
      </ul>
      <ul class="navbar-nav float-right">
        <li class="nav-item">
          <a class="btn font-weight-bold btn-info text-white" routerLink="login">Iniciar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>