<div class="container pt-2 pb-4 rounded shadow bg-white border-0 px-4 mt-6">
  <p class="h1 mx-1 font-weight-bold row">¿En qué podemos ayudarte?</p>
  <form class="row">
    <div class="form-group">
      <label for="exampleFormControlInput1">Nombre</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Juan Perez">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Teléfono</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="+1(809)909-0909">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Provincia</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Mensaje</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mensaje..."></textarea>
    </div>
    <div class="form-group p-3">
      <button type="button" class="btn btn-info font-weight-bold btn-lg btn-block">Enviar</button>
    </div>
  </form>
</div>