<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-md-6 mb-4">
      <div class="container h-100 g justify-content-center text-center border-0 pt-2 pb-4 rounded shadow bg-white px-4 mt-6">
        <img src="../../../assets/LOG-DEVIA.png" width="100%" alt="">
      </div>
    </div>
    <div class="col-md-6 h-100 mb-4">
      <app-contactos-fomr></app-contactos-fomr>
    </div>
  </div>
  <div class="row mb-4">
    <div class="row">
      <div class="h1 font-weight-bold">Contactos</div>
    </div>
    <div class="col p-0 m-0">
      <div class="card rounded shadow p-2 m-2">
        <div class="card-body  p-0 m-0">
          <h5 class="card-title">Ventas</h5>
          <div class="list-group list-group-flush ">
            <a class="list-group-item user-select-none list-group-item-action border-0 text-info" href="mailto:ventas@mydevia.com.do"><fa-icon class="text-info mr-2" size="sm" [icon]="mail"></fa-icon>ventas@mydevia.com.do</a>
            <a class="list-group-item user-select-none list-group-item-action border-0 text-info" href="tel:+1(849)450-7766"><fa-icon class="text-info mr-2" [icon]="phone"></fa-icon>+1(849)450-7766</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col p-0 m-0">
      <div class="card rounded shadow p-2 m-2">
        <div class="card-body  p-0 m-0">
          <h5 class="card-title">Contacto</h5>
          <div class="list-group list-group-flush ">
            <a class="list-group-item user-select-none list-group-item-action border-0 text-info" href="mailto:contacto@mydevia.com.do"><fa-icon class="text-info mr-2" size="sm" [icon]="mail"></fa-icon>contacto@mydevia.com.do</a>
            <a class="list-group-item user-select-none list-group-item-action border-0 text-info" href="tel:(809)296-2823"><fa-icon class="text-info mr-2" [icon]="phone"></fa-icon>+1(809)296-2823</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col p-0 m-0">
      <div class="card rounded shadow p-2 m-2">
        <div class="card-body  p-0 m-0">
          <h5 class="card-title">Soporte</h5>
          <div class="list-group list-group-flush ">
            <a class="list-group-item user-select-none list-group-item-action border-0 text-info" href="mailto:soporte@mydevia.com.do"><fa-icon class="text-info mr-2" size="sm" [icon]="mail"></fa-icon>soporte@mydevia.com.do</a>
            <a class="list-group-item user-select-none list-group-item-action border-0 text-info" href="tel:+1(849)450-7766"><fa-icon class="text-info mr-2" [icon]="phone"></fa-icon>+1(829)450-7766</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col p-0 m-0">
      <div class="card rounded shadow p-2 m-2">
        <div class="card-body  p-0 m-0">
          <h5 class="card-title">Administración</h5>
          <div class="list-group list-group-flush ">
            <a class="list-group-item user-select-none list-group-item-action border-0 text-info" href="mailto:admin@mydevia.com.do"><fa-icon class="text-info mr-2" size="sm" [icon]="mail"></fa-icon>admin@mydevia.com.do</a>
            <a class="list-group-item user-select-none list-group-item-action border-0 text-info" href="tel:+1(829)306-7766"><fa-icon class="text-info mr-2" [icon]="phone"></fa-icon>+1(829)306-7766</a>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>