<div class="container pt-2 shadow rounded bg-white mt-4">
  <div class="row text-center my-4">
    <p class="h1 text-uppercase text-dark font-weight-bold">Ventajas de negocio</p>
    <p class="h4">No pierdas más ventas, atiende a todos tus clientes.</p>
  </div>
  <div class="row mx-2">
    <div class="col-md-4 mb-4">
      <div class="card text-dark font-weight-bold bg-info border-info">
        <div class="card-body">
          <p class="h4 card-title font-weight-bold text-white">Inversión</p>
          <ul>
            <li class="card-text"><p class="text-white">Bajo riesgo de inversión en el producto​</p></li>
            <li class="card-text"><p class="text-white">Retorno rápido de la inversión</p></li>
            <li class="card-text"><p class="text-white">Recuperación total de la inversión</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card text-dark font-weight-bold bg-info border-info">
        <div class="card-body">
          <p class="h4 card-title font-weight-bold text-white">Stock</p>
          <ul>
            <li class="card-text"><p class="text-white">Eliminación de stock en tienda</p></li>
            <li class="card-text"><p class="text-white">Liberación de espacio en tienda</p></li>
            <li class="card-text"><p class="text-white">Eliminación gestión de tiempo y control de stock</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card text-dark font-weight-bold bg-info border-info">
        <div class="card-body">
          <p class="h4 card-title font-weight-bold text-white">Inventario</p>
          <ul>
            <li class="card-text"><p class="text-white">Eliminación global de referencias</p></li>
            <li class="card-text"><p class="text-white">Implantación de una única referencia universal</p></li>
            <li class="card-text"><p class="text-white">Eliminación gestión tiempo y control de inventario</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-2">
    <div class="col-md-4 mb-4">
      <div class="card text-dark font-weight-bold bg-info border-info">
        <div class="card-body">
          <p class="h4 card-title font-weight-bold text-white">Compras</p>
          <ul>
            <li class="card-text"><p class="text-white">Eliminación gestión tiempo de compras</p></li>
            <li class="card-text"><p class="text-white">Eliminación gestión control de compras</p></li>
            <li class="card-text"><p class="text-white">Implantación de un único proveedor</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card text-dark font-weight-bold bg-info border-info">
        <div class="card-body">
          <p class="h4 card-title font-weight-bold text-white">Ajuste oferta y demanda​</p>
          <ul>
            <li class="card-text"><p class="text-white">Atención de todos los pedidos de los clientes</p></li>
            <li class="card-text"><p class="text-white">Eliminación ventas perdidas</p></li>
            <li class="card-text"><p class="text-white">Eliminación insatisfacción de los clientes</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card text-dark font-weight-bold bg-info border-info">
        <div class="card-body">
          <p class="h4 card-title font-weight-bold text-white">Fidelización Clientes</p>
          <ul>
            <li class="card-text"><p class="text-white">Atención rápida al cliente</p></li>
            <li class="card-text"><p class="text-white">Atención de todos los clientes</p></li>
            <li class="card-text"><p class="text-white">Garantia de calidad</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
