/* You can add global styles to this file, and also import other style files */
body{
    background: rgb(219, 219, 219);
}

.active{
    font-weight: bold;
}

.btn-primary{
    background: #3FA9F5;
    border-color: #3FA9F5;
    font-weight: bold;
    color: white;
}

.btn-primary:hover{
    background: #1988d8;
    border-color: #1988d8;
}

.blue-primary{
    color: #3FA9F5;
}