<!-- <img src="../../../assets/devia/slider-size.jpg" class="m-auto w-100" alt="...">
<img src="../../../assets/devia/SLIDER-HIDROGEL4.jpg" class="m-auto w-100" alt="..."> -->
<div class="container-fliud overflow-hidden">
  
  <div class="card rounded border-0 my-4 p-2 shadow img" data-aos="fade-right" data-aos-duration="1500">
    <div class="text mx-4">      
      <p class="h1 text-uppercase" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="300">Maquina de corte para crear protectores de pantalla</p>
      <div class="pro mt-2">
        <p class="h3 font-weight-bold" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="500"><fa-icon class="text-info" [icon]="users"></fa-icon> Nunca rechace a un cliente, no importa el dipositovo.</p>
        <p class="h3 font-weight-bold" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="500"><fa-icon class="text-info" [icon]="money"></fa-icon> Aumente las ventas sin tener que aumentar el inventario.</p>
      </div>
    </div>
  </div>

  <div class="card rounded border-0 my-4 p-2 shadow img img2 overflow-hidden" data-aos="fade-right" data-aos-duration="1500">
    <div class="text mx-4 pt-2">
      <p class="h1 text-uppercase" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="300">También puede crear protectores con diseño para la parte trasera</p>
      <div class="pro mt-2">
        <img src="../../../assets/devia/Recurso 1.png" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="500" alt="">
      </div>
    </div>
  </div>

  <div class="card rounded border-0 my-4 p-2 shadow img" data-aos="fade-right" data-aos-duration="1500">
    <div class="text mx-4">      
      <p class="h1 text-uppercase" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="300">Maquina de corte para crear protectores de pantalla</p>
      <div class="pro mt-2">
        <p class="h3 font-weight-bold" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="500"><fa-icon class="text-info" [icon]="users"></fa-icon> Nunca rechace a un cliente, no importa el dipositovo.</p>
        <p class="h3 font-weight-bold" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="500"><fa-icon class="text-info" [icon]="money"></fa-icon> Aumente las ventas sin tener que aumentar el inventario.</p>
      </div>
    </div>
  </div>

  <div class="card rounded border-0 my-4 p-2 shadow img img2 overflow-hidden" data-aos="fade-right" data-aos-duration="1500">
    <div class="text mx-4">      
      <p class="h1 text-uppercase" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="300">También puede crear protectores con diseño para la parte trasera</p>
      <div class="pro mt-2">
        <img src="../../../assets/devia/Recurso 1.png" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="500" alt="">
      </div>
    </div>
  </div>

  <div class="card rounded border-0 my-4 p-2 shadow img" data-aos="fade-right" data-aos-duration="1500">
    <div class="text mx-4">      
      <p class="h1 text-uppercase" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="300">Maquina de corte para crear protectores de pantalla</p>
      <div class="pro mt-2">
        <p class="h3 font-weight-bold" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="500"><fa-icon class="text-info" [icon]="users"></fa-icon> Nunca rechace a un cliente, no importa el dipositovo.</p>
        <p class="h3 font-weight-bold" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="500"><fa-icon class="text-info" [icon]="money"></fa-icon> Aumente las ventas sin tener que aumentar el inventario.</p>
      </div>
    </div>
  </div>

  <div class="card rounded border-0 my-4 p-2 shadow img img2 overflow-hidden" data-aos="fade-right" data-aos-duration="1500">
    <div class="text mx-4">      
      <p class="h1 text-uppercase" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="300">También puede crear protectores con diseño para la parte trasera</p>
      <div class="pro mt-2">
        <img src="../../../assets/devia/Recurso 1.png" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="500" alt="">
      </div>
    </div>
  </div>

  <div class="card rounded border-0 my-4 p-2 shadow img" data-aos="fade-right" data-aos-duration="1500">
    <div class="text mx-4">      
      <p class="h1 text-uppercase" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="300">Maquina de corte para crear protectores de pantalla</p>
      <div class="pro mt-2">
        <p class="h3 font-weight-bold" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="500"><fa-icon class="text-info" [icon]="users"></fa-icon> Nunca rechace a un cliente, no importa el dipositovo.</p>
        <p class="h3 font-weight-bold" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="500"><fa-icon class="text-info" [icon]="money"></fa-icon> Aumente las ventas sin tener que aumentar el inventario.</p>
      </div>
    </div>
  </div>

  <div class="card rounded border-0 my-4 p-2 shadow img img2 overflow-hidden" data-aos="fade-right" data-aos-duration="1500">
    <div class="text mx-4">      
      <p class="h1 text-uppercase" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="300">También puede crear protectores con diseño para la parte trasera</p>
      <div class="pro mt-2">
        <img src="../../../assets/devia/Recurso 1.png" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="500" alt="">
      </div>
    </div>
  </div>
</div>