<!-- <img src="../../../assets/devia/slider-size.jpg" class="m-auto w-100" alt="...">
<img src="../../../assets/devia/SLIDER-HIDROGEL4.jpg" class="m-auto w-100" alt="..."> -->

<div data-aos="fade-right" aos-duration="1500">
  <img src="../../../assets/devia/slider-size.jpg" class="m-auto w-100" alt="...">
</div>
<div data-aos="fade-left" aos-duration="1500">
  <img src="../../../assets/devia/SLIDER-HIDROGEL4.jpg" class="m-auto w-100" alt="...">
</div>
<div data-aos="fade-right" aos-duration="1500">
  <img src="../../../assets/devia/slider-size.jpg" class="m-auto w-100" alt="...">
</div>
<div data-aos="fade-left" aos-duration="1500">
  <img src="../../../assets/devia/SLIDER-HIDROGEL4.jpg" class="m-auto w-100" alt="...">
</div>
<div data-aos="fade-right">
  <img src="../../../assets/devia/slider-size.jpg" class="m-auto w-100" alt="...">
</div>
<div data-aos="fade-left" aos-duration="5100">
  <img src="../../../assets/devia/SLIDER-HIDROGEL4.jpg" class="m-auto w-100" alt="...">
</div>
<div data-aos="fade-right" aos-duration="1500">
  <img src="../../../assets/devia/slider-size.jpg" class="m-auto w-100" alt="...">
</div>
<div data-aos="fade-left" aos-duration="1500">
  <img src="../../../assets/devia/SLIDER-HIDROGEL4.jpg" class="m-auto w-100" alt="...">
</div>
<div data-aos="fade-right" aos-duration="1500">
  <img src="../../../assets/devia/slider-size.jpg" class="m-auto w-100" alt="...">
</div>
<div data-aos="fade-left" aos-duration="5100">
  <img src="../../../assets/devia/SLIDER-HIDROGEL4.jpg" class="m-auto w-100" alt="...">
</div>